# -------------------------
# Build Output
# -------------------------
bin/
obj/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# User / IDE
# -------------------------
*.user
*.suo
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Environment Variables
# -------------------------
.env
